


.wrap.header {
	padding:50px 0px;
	background: #f35805 ;
	color: #FFF;
}

.wrap.header a {
	color: rgba(255,255,255,0.75);
}



.preview-area {
	padding: 25px 0px;
}

.preview-header {
	padding:25px 0px;
}
.preview-header h3 {
	padding:0px;
	margin:0px;
}